In [60]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [61]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,New Norfolk,-42.78,147.06,54.00,82,100,1.01,AU,2020-10-23 16:15:41
1,1,Rio Gallegos,-51.62,-69.22,50.00,76,90,4.70,AR,2020-10-23 16:15:41
2,2,Sola,-13.88,167.55,78.37,86,79,19.53,VU,2020-10-23 16:15:41
3,3,Warmbad,-28.45,18.73,97.11,13,37,3.47,NaN,2020-10-23 16:15:42
4,4,Atuona,-9.80,-139.03,77.27,80,19,20.96,PF,2020-10-23 16:15:42
...,...,...,...,...,...,...,...,...,...,...
571,571,Bulawayo,-20.15,28.58,79.63,27,0,10.83,ZW,2020-10-23 16:17:02
572,572,Santa Maria Del Oro,25.93,-105.37,71.28,31,0,1.59,MX,2020-10-23 16:17:03
573,573,Padang,-0.95,100.35,80.10,80,100,4.59,ID,2020-10-23 16:12:28
574,574,Fare,-16.70,-151.02,78.96,75,95,11.99,PF,2020-10-23 16:17:03
575,575,Havelock,34.88,-76.90,79.00,73,90,8.05,US,2020-10-23 16:16:53

In [62]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [63]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [64]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False,max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [65]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [66]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [67]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [68]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [69]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [70]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Sola,-13.88,167.55,78.37,86,79,19.53,VU,2020-10-23 16:15:41
4,4,Atuona,-9.80,-139.03,77.27,80,19,20.96,PF,2020-10-23 16:15:42
10,10,Hamilton,39.18,-84.53,75.99,78,75,9.17,US,2020-10-23 16:15:01
14,14,Orocue,4.79,-71.34,89.73,62,30,1.57,CO,2020-10-23 16:15:44
16,16,Mahebourg,-20.41,57.70,75.20,69,40,11.41,MU,2020-10-23 16:15:44
19,19,Gat,31.61,34.76,80.60,65,0,8.05,IL,2020-10-23 16:15:45
22,22,Ndele,8.41,20.65,78.39,79,87,1.45,CF,2020-10-23 16:15:45
24,24,Sao Filipe,14.90,-24.50,81.64,73,1,12.88,CV,2020-10-23 16:15:45
27,27,Khorixas,-20.37,14.97,82.49,36,78,20.60,NaN,2020-10-23 16:15:46
30,30,Butaritari,3.07,172.79,82.31,70,90,12.37,KI,2020-10-23 16:15:46

In [71]:
preferred_cities_df.dropna()
preferred_cities_df.dropna(axis='columns')

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
2,2,Sola,-13.88,167.55,78.37,86,79,19.53,2020-10-23 16:15:41
4,4,Atuona,-9.80,-139.03,77.27,80,19,20.96,2020-10-23 16:15:42
10,10,Hamilton,39.18,-84.53,75.99,78,75,9.17,2020-10-23 16:15:01
14,14,Orocue,4.79,-71.34,89.73,62,30,1.57,2020-10-23 16:15:44
16,16,Mahebourg,-20.41,57.70,75.20,69,40,11.41,2020-10-23 16:15:44
...,...,...,...,...,...,...,...,...,...
566,566,Natal,-5.79,-35.21,84.20,70,75,19.46,2020-10-23 16:17:02
571,571,Bulawayo,-20.15,28.58,79.63,27,0,10.83,2020-10-23 16:17:02
573,573,Padang,-0.95,100.35,80.10,80,100,4.59,2020-10-23 16:12:28
574,574,Fare,-16.70,-151.02,78.96,75,95,11.99,2020-10-23 16:17:03
575,575,Havelock,34.88,-76.90,79.00,73,90,8.05,2020-10-23 16:16:53

In [72]:
preferred_cities_df.count()

City_ID       178
City          178
Lat           178
Lng           178
Max Temp      178
Humidity      178
Cloudiness    178
Wind Speed    178
Country       177
Date          178
dtype: int64

In [75]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng Hotel Name
2         Sola      VU     78.37 -13.88  167.55
4       Atuona      PF     77.27  -9.80 -139.03
10    Hamilton      US     75.99  39.18  -84.53
14      Orocue      CO     89.73   4.79  -71.34
16   Mahebourg      MU     75.20 -20.41   57.70
19         Gat      IL     80.60  31.61   34.76
22       Ndele      CF     78.39   8.41   20.65
24  Sao Filipe      CV     81.64  14.90  -24.50
27    Khorixas     NaN     82.49 -20.37   14.97
30  Butaritari      KI     82.31   3.07  172.79

In [76]:
city_weather = requests.get(city_url)

NameError: name 'city_url' is not defined

In [77]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [78]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
     print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [80]:
hotel_df.head(20)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Sola,VU,78.37,-13.88,167.55,Ulkel Guest House
4,Atuona,PF,77.27,-9.80,-139.03,Villa Enata
10,Hamilton,US,75.99,39.18,-84.53,Six Acres Bed & Breakfast
14,Orocue,CO,89.73,4.79,-71.34,Hotel Brisas de San Miguel
16,Mahebourg,MU,75.20,-20.41,57.70,Shandrani Beachcomber Resort & Spa
19,Gat,IL,80.60,31.61,34.76,OlusHome
22,Ndele,CF,78.39,8.41,20.65,
24,Sao Filipe,CV,81.64,14.90,-24.50,Tortuga B&B
27,Khorixas,NaN,82.49,-20.37,14.97,Khorixas Lodge
30,Butaritari,KI,82.31,3.07,172.79,Isles Sunset Lodge
36,Chikhli,IN,75.52,20.35,76.25,Madarsa Block
40,Findlay,US,78.80,41.04,-83.65,Drury Inn & Suites Findlay
41,Cabo San Lucas,MX,86.00,22.89,-109.91,Hotel Tesoro Los Cabos
44,Arraial Do Cabo,BR,80.60,-22.97,-42.03,Pousada Porto Praia
56,Faanui,PF,78.53,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
62,Saint-Georges,GD,82.69,12.06,-61.75,Siesta Hotel
64,Manuk Mangkaw,PH,83.66,4.80,119.85,
65,Port Alfred,ZA,76.03,-33.59,26.89,The Halyards Hotel
69,Saint-Philippe,RE,75.20,-21.36,55.77,"Chambres d'hÃ´te ""La TrinitÃ©"""
78,Hermanus,ZA,75.00,-34.42,19.23,Misty Waves Boutique Hotel

In [82]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [85]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [86]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))